body {
  background-color: #190322;
}

.column {
  display: inline-block;
  z-index: 200;
}

.checker {
  height: 5rem;
  width: 5rem;
  /* z-index: 2; */
  position: absolute;
  background-color: #2e6181;
  transition: 0.3s ease-in-out;
}

.cell {
  height: 6rem;
  width: 6rem;
  border: 4px solid #027902;
  display: flex;
  justify-content: center;
  align-items: center
  /* display: block; */
}

.board {
  background-color: #190322;
  width: auto;
  margin-top: 6rem;
}
